service:
  name: typescript-trial-1

plugins:
  - serverless-webpack
  - serverless-plugin-tracing

provider:
  name: aws
  runtime: nodejs8.10
  stage: dev
  profile: xxxxxxxxxxxxxxxxxxxx
  region: eu-west-1
  tracing: true
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "xray:PutTraceSegments"
        - "xray:PutTelemetryRecords"
      Resource:
        - "*"

functions:
  hello:
    handler: handler.hello
    events:
      - http:
          method: get
          path: hello
    environment:
      DB_HOST: xxxxxxxxxxxxxxxxxxxx
      DB_USER: xxxxxxxxxxxxxxxxxxxx
      DB_PASS: xxxxxxxxxxxxxxxxxxxx
      DB_NAME: xxxxxxxxxxxxxxxxxxxx
    vpc:
      securityGroupIds:
        - xxxxxxxxxxxxxxxxxxxx
      subnetIds:
        - xxxxxxxxxxxxxxxxxxxx
        - xxxxxxxxxxxxxxxxxxxx
        - xxxxxxxxxxxxxxxxxxxx
    timeout: 30 # optional, in seconds, default is 6, api gateway times out after 30 anyway
